<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Packages-importing" data-toc-modified-id="Packages-importing-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Packages importing</a></span></li><li><span><a href="#Obtain-data---Dict-with-DataSets" data-toc-modified-id="Obtain-data---Dict-with-DataSets-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Obtain data - Dict with DataSets</a></span><ul class="toc-item"><li><span><a href="#Lista-dos-nomes-dos-dataframes" data-toc-modified-id="Lista-dos-nomes-dos-dataframes-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Lista dos nomes dos dataframes</a></span></li><li><span><a href="#Lista-com-os-Dataframes" data-toc-modified-id="Lista-com-os-Dataframes-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Lista com os Dataframes</a></span></li></ul></li><li><span><a href="#Data-Frames-preparation" data-toc-modified-id="Data-Frames-preparation-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Data Frames preparation</a></span><ul class="toc-item"><li><span><a href="#htw-failures-2016-Dataframe" data-toc-modified-id="htw-failures-2016-Dataframe-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>htw-failures-2016 Dataframe</a></span></li><li><span><a href="#Power-Curve-Dataframe" data-toc-modified-id="Power-Curve-Dataframe-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Power Curve Dataframe</a></span></li><li><span><a href="#Failures-training-dataframe" data-toc-modified-id="Failures-training-dataframe-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Failures training dataframe</a></span></li><li><span><a href="#Locations-dataframe" data-toc-modified-id="Locations-dataframe-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Locations dataframe</a></span></li><li><span><a href="#Logs-testing-dataframe" data-toc-modified-id="Logs-testing-dataframe-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Logs-testing dataframe</a></span></li><li><span><a href="#Logs-training-dataframe" data-toc-modified-id="Logs-training-dataframe-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Logs-training dataframe</a></span></li><li><span><a href="#Metmast-testing-dataframe" data-toc-modified-id="Metmast-testing-dataframe-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>Metmast-testing dataframe</a></span></li><li><span><a href="#Metmast-training-dataframe" data-toc-modified-id="Metmast-training-dataframe-3.8"><span class="toc-item-num">3.8&nbsp;&nbsp;</span>Metmast-training dataframe</a></span></li><li><span><a href="#Signals-testing-dataframe" data-toc-modified-id="Signals-testing-dataframe-3.9"><span class="toc-item-num">3.9&nbsp;&nbsp;</span>Signals-testing dataframe</a></span></li><li><span><a href="#Signals-training-dataframe" data-toc-modified-id="Signals-training-dataframe-3.10"><span class="toc-item-num">3.10&nbsp;&nbsp;</span>Signals-training dataframe</a></span></li></ul></li><li><span><a href="#Time-description" data-toc-modified-id="Time-description-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Time description</a></span><ul class="toc-item"><li><span><a href="#Criar-uma-coluna-de-variação-de-tempo-entre-timestamps" data-toc-modified-id="Criar-uma-coluna-de-variação-de-tempo-entre-timestamps-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Criar uma coluna de variação de tempo entre timestamps</a></span></li><li><span><a href="#Perceber-a-variação-entre-os-vários-Timestamps" data-toc-modified-id="Perceber-a-variação-entre-os-vários-Timestamps-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Perceber a variação entre os vários Timestamps</a></span></li></ul></li><li><span><a href="#Novo-dataframe-com-Timestamp-completo" data-toc-modified-id="Novo-dataframe-com-Timestamp-completo-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Novo dataframe com Timestamp completo</a></span></li><li><span><a href="#Fazer-merge-do-Dataframe-de-tempo-completo-com-os-restantes-dataframes" data-toc-modified-id="Fazer-merge-do-Dataframe-de-tempo-completo-com-os-restantes-dataframes-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Fazer merge do Dataframe de tempo completo com os restantes dataframes</a></span><ul class="toc-item"><li><span><a href="#Signals-testing-complete-dataframe" data-toc-modified-id="Signals-testing-complete-dataframe-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Signals-testing complete dataframe</a></span></li></ul></li></ul></div>

## Packages importing

In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import os
import Funtion_tools as ft
import matplotlib.pyplot as plt
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

## Obtain data - Dict with DataSets

In [2]:
WM_data_dict = ft.get_data()

In [3]:
# obter a lista de dataframes e forma
for i in WM_data_dict:
    print(i, WM_data_dict[i].shape)

htw_failures_2016_df (16, 4)
Power_curve_df (43, 1)
failures_training_df (23, 4)
locations_df (17, 3)
logs_testing_df (62604, 5)
logs_training_df (256231, 5)
metmast_testing_df (17567, 41)
metmast_training_df (69961, 41)
signals_testing_df (87639, 83)
signals_training_df (434145, 83)

### Lista dos nomes dos dataframes

In [4]:
df_names = []
for i in WM_data_dict.keys():
    df_names.append(i)
df_names

['htw_failures_2016_df',
 'Power_curve_df',
 'failures_training_df',
 'locations_df',
 'logs_testing_df',
 'logs_training_df',
 'metmast_testing_df',
 'metmast_training_df',
 'signals_testing_df',
 'signals_training_df']

### Lista com os Dataframes

In [5]:
df_list = []
for i in WM_data_dict:
    df_list.append(WM_data_dict[i])

## Data Frames preparation

### htw-failures-2016 Dataframe

In [6]:
htw_failures_2016_df = WM_data_dict['htw_failures_2016_df'].copy()
htw_failures_2016_df.head()

,Turbine_ID,Component,Timestamp,Remarks
0,T01,GEARBOX,2016-07-18T02:10:00+00:00,Gearbox pump damaged
1,T06,GENERATOR,2016-07-11T19:48:00+00:00,Generator replaced
2,T06,GENERATOR,2016-07-24T17:01:00+00:00,Generator temperature sensor failure
3,T06,GENERATOR,2016-09-04T08:08:00+00:00,High temperature generator error
4,T06,GENERATOR,2016-10-27T16:26:00+00:00,Generator replaced

In [7]:
htw_failures_2016_df = ft.transform_time(htw_failures_2016_df, 'Timestamp')
htw_failures_2016_df.head()

,Turbine_ID,Component,Timestamp,Remarks
0,T01,GEARBOX,2016-07-18 02:10:00,Gearbox pump damaged
1,T06,GENERATOR,2016-07-11 19:48:00,Generator replaced
2,T06,GENERATOR,2016-07-24 17:01:00,Generator temperature sensor failure
3,T06,GENERATOR,2016-09-04 08:08:00,High temperature generator error
4,T06,GENERATOR,2016-10-27 16:26:00,Generator replaced

In [8]:
df_list[0] = htw_failures_2016_df

### Power Curve Dataframe

In [9]:
Power_curve_df = WM_data_dict['Power_curve_df'].copy()
Power_curve_df.head()

  Wind speed (m/s),Power (kW)
0                        4,89
1                     4.5,142
2                       5,204
3                     5.5,279
4                       6,368

In [10]:
Power_curve_df = ft.power_curve_trans(WM_data_dict)
Power_curve_df.head()

   windspeed(m_s)  power(kw)
0             4.0         89
1             4.5        142
2             5.0        204
3             5.5        279
4             6.0        368

In [11]:
df_list[1] = Power_curve_df

### Failures training dataframe

In [12]:
failures_training_df = WM_data_dict['failures_training_df'].copy()
failures_training_df.head()

,Turbine_ID,Component,Timestamp,Remarks
0,T11,GENERATOR,2016-03-03T19:00:00+00:00,Electric circuit error in generator
1,T06,HYDRAULIC_GROUP,2016-04-04T18:53:00+00:00,Error in pitch regulation
2,T07,GENERATOR_BEARING,2016-04-30T12:40:00+00:00,High temperature in generator bearing (replace...
3,T09,GENERATOR_BEARING,2016-06-07T16:59:00+00:00,High tempemperature generator bearing
4,T07,TRANSFORMER,2016-07-10T03:46:00+00:00,High temperature transformer

In [13]:
failures_training_df = ft.transform_time(failures_training_df, 'Timestamp')
failures_training_df.head()

,Turbine_ID,Component,Timestamp,Remarks
0,T11,GENERATOR,2016-03-03 19:00:00,Electric circuit error in generator
1,T06,HYDRAULIC_GROUP,2016-04-04 18:53:00,Error in pitch regulation
2,T07,GENERATOR_BEARING,2016-04-30 12:40:00,High temperature in generator bearing (replace...
3,T09,GENERATOR_BEARING,2016-06-07 16:59:00,High tempemperature generator bearing
4,T07,TRANSFORMER,2016-07-10 03:46:00,High temperature transformer

### Locations dataframe

In [14]:
locations_df = WM_data_dict['locations_df']
locations_df.head()

,Item,Relative Location,Data Set Available
0,Wind Turbine 7,"0.00182111,0.009671981",https://opendata.edp.com/explore/?sort=modifie...
1,Wind Turbine 1,"0.00324017,0.001856562",https://opendata.edp.com/explore/?sort=modifie...
2,Wind Turbine 15,"-0.00772443,0.002684614",NaN
3,Wind Turbine 8,"-0.00355058,0.010732693",NaN
4,Wind Turbine 3,"-0.00169754,0.001520614",NaN

### Logs-testing dataframe

In [15]:
logs_testing_df = WM_data_dict['logs_testing_df'].copy()
logs_testing_df.head()

,TimeDetected,TimeReset,UnitTitle,Remark,UnitTitleDestination
0,2017-09-01T00:00:48+00:00,NaN,T06,"Gen. ext. vent. 2, temp: 65°C",NaN
1,2017-09-01T00:01:23+00:00,NaN,T01,"Gen. ext. vent. 2, temp: 65°C",NaN
2,2017-09-01T00:04:14+00:00,NaN,T06,External power ref.:2000kW,NaN
3,2017-09-01T00:07:05+00:00,NaN,T09,"Gen. ext. vent. 2, temp: 65°C",NaN
4,2017-09-01T00:15:50+00:00,NaN,T09,External power ref.:2000kW,NaN

In [16]:
logs_testing_df = ft.logs_cols_uniform(logs_testing_df)
logs_testing_df.head()

,Timestamp,TimeReset,Turbine_ID,Remark,UnitTitleDestination
0,2017-09-01T00:00:48+00:00,NaN,T06,"Gen. ext. vent. 2, temp: 65°C",NaN
1,2017-09-01T00:01:23+00:00,NaN,T01,"Gen. ext. vent. 2, temp: 65°C",NaN
2,2017-09-01T00:04:14+00:00,NaN,T06,External power ref.:2000kW,NaN
3,2017-09-01T00:07:05+00:00,NaN,T09,"Gen. ext. vent. 2, temp: 65°C",NaN
4,2017-09-01T00:15:50+00:00,NaN,T09,External power ref.:2000kW,NaN

In [17]:
logs_testing_df = ft.transform_time(logs_testing_df)
logs_testing_df.head()

,Timestamp,TimeReset,Turbine_ID,Remark,UnitTitleDestination
0,2017-09-01 00:00:48,NaN,T06,"Gen. ext. vent. 2, temp: 65°C",NaN
1,2017-09-01 00:01:23,NaN,T01,"Gen. ext. vent. 2, temp: 65°C",NaN
2,2017-09-01 00:04:14,NaN,T06,External power ref.:2000kW,NaN
3,2017-09-01 00:07:05,NaN,T09,"Gen. ext. vent. 2, temp: 65°C",NaN
4,2017-09-01 00:15:50,NaN,T09,External power ref.:2000kW,NaN

In [18]:
df_list[4] = logs_testing_df

### Logs-training dataframe

In [19]:
logs_training_df = WM_data_dict['logs_training_df'].copy()
logs_training_df.head()

,TimeDetected,TimeReset,UnitTitle,Remark,UnitTitleDestination
0,2016-01-01T00:02:18+00:00,NaN,T11,External power ref.:2000kW,NaN
1,2016-01-01T00:07:15+00:00,NaN,T06,Generator 1 in,NaN
2,2016-01-01T00:11:33+00:00,NaN,T09,External power ref.:2000kW,NaN
3,2016-01-01T00:15:27+00:00,NaN,T01,Generator 1 in,NaN
4,2016-01-01T00:15:44+00:00,NaN,T01,External power ref.:2000kW,NaN

In [20]:
logs_training_df = ft.logs_cols_uniform(logs_training_df)
logs_training_df.head()

,Timestamp,TimeReset,Turbine_ID,Remark,UnitTitleDestination
0,2016-01-01T00:02:18+00:00,NaN,T11,External power ref.:2000kW,NaN
1,2016-01-01T00:07:15+00:00,NaN,T06,Generator 1 in,NaN
2,2016-01-01T00:11:33+00:00,NaN,T09,External power ref.:2000kW,NaN
3,2016-01-01T00:15:27+00:00,NaN,T01,Generator 1 in,NaN
4,2016-01-01T00:15:44+00:00,NaN,T01,External power ref.:2000kW,NaN

In [21]:
logs_training_df = ft.transform_time(logs_training_df)
logs_training_df.head()

,Timestamp,TimeReset,Turbine_ID,Remark,UnitTitleDestination
0,2016-01-01 00:02:18,NaN,T11,External power ref.:2000kW,NaN
1,2016-01-01 00:07:15,NaN,T06,Generator 1 in,NaN
2,2016-01-01 00:11:33,NaN,T09,External power ref.:2000kW,NaN
3,2016-01-01 00:15:27,NaN,T01,Generator 1 in,NaN
4,2016-01-01 00:15:44,NaN,T01,External power ref.:2000kW,NaN

In [22]:
df_list[5] = logs_training_df

### Metmast-testing dataframe

In [23]:
metmast_testing_df = WM_data_dict['metmast_testing_df'].copy()
metmast_testing_df.head()

,Timestamp,Min_Windspeed1,Max_Windspeed1,Avg_Windspeed1,Var_Windspeed1,Min_Windspeed2,Max_Windspeed2,Avg_Windspeed2,Var_Windspeed2,Min_Winddirection2,...,Anemometer1_CorrOffset,Anemometer2_Freq,Anemometer2_Offset,Anemometer2_CorrGain,Anemometer2_CorrOffset,DistanceAirPress,AirRessureSensorZeroOffset,Anemometer1_Avg_Freq,Anemometer2_Avg_Freq,Pressure_Avg_Freq
0,2017-09-01T00:10:00+00:00,3.8,8.8,6.6,0.71,4.4,7.7,6.0,0.42,88.0,...,0,0.0499,0.24,1,0,0,600,129,116,407
1,2017-09-01T00:20:00+00:00,3.8,9.0,6.3,0.55,3.9,7.7,5.8,0.29,88.0,...,0,0.0499,0.24,1,0,0,600,122,113,407
2,2017-09-01T00:30:00+00:00,4.1,7.5,6.3,0.46,3.9,7.3,5.8,0.26,109.0,...,0,0.0499,0.24,1,0,0,600,124,113,407
3,2017-09-01T00:40:00+00:00,2.5,7.9,5.3,1.05,2.8,6.8,5.0,0.58,106.0,...,0,0.0499,0.24,1,0,0,600,102,97,407
4,2017-09-01T00:50:00+00:00,1.3,5.5,3.1,0.75,1.4,4.9,3.1,0.64,107.0,...,0,0.0499,0.24,1,0,0,600,59,58,407

In [24]:
metmast_testing_df = ft.transform_time(metmast_testing_df)
metmast_testing_df.head()

,Timestamp,Min_Windspeed1,Max_Windspeed1,Avg_Windspeed1,Var_Windspeed1,Min_Windspeed2,Max_Windspeed2,Avg_Windspeed2,Var_Windspeed2,Min_Winddirection2,...,Anemometer1_CorrOffset,Anemometer2_Freq,Anemometer2_Offset,Anemometer2_CorrGain,Anemometer2_CorrOffset,DistanceAirPress,AirRessureSensorZeroOffset,Anemometer1_Avg_Freq,Anemometer2_Avg_Freq,Pressure_Avg_Freq
0,2017-09-01 00:10:00,3.8,8.8,6.6,0.71,4.4,7.7,6.0,0.42,88.0,...,0,0.0499,0.24,1,0,0,600,129,116,407
1,2017-09-01 00:20:00,3.8,9.0,6.3,0.55,3.9,7.7,5.8,0.29,88.0,...,0,0.0499,0.24,1,0,0,600,122,113,407
2,2017-09-01 00:30:00,4.1,7.5,6.3,0.46,3.9,7.3,5.8,0.26,109.0,...,0,0.0499,0.24,1,0,0,600,124,113,407
3,2017-09-01 00:40:00,2.5,7.9,5.3,1.05,2.8,6.8,5.0,0.58,106.0,...,0,0.0499,0.24,1,0,0,600,102,97,407
4,2017-09-01 00:50:00,1.3,5.5,3.1,0.75,1.4,4.9,3.1,0.64,107.0,...,0,0.0499,0.24,1,0,0,600,59,58,407

In [25]:
df_list[6] = logs_training_df

### Metmast-training dataframe

In [26]:
metmast_training_df = WM_data_dict['metmast_training_df'].copy()
metmast_training_df.head()

,Timestamp,Min_Windspeed1,Max_Windspeed1,Avg_Windspeed1,Var_Windspeed1,Min_Windspeed2,Max_Windspeed2,Avg_Windspeed2,Var_Windspeed2,Min_Winddirection2,...,Anemometer1_CorrOffset,Anemometer2_Freq,Anemometer2_Offset,Anemometer2_CorrGain,Anemometer2_CorrOffset,DistanceAirPress,AirRessureSensorZeroOffset,Anemometer1_Avg_Freq,Anemometer2_Avg_Freq,Pressure_Avg_Freq
0,2016-01-01T00:00:00+00:00,3.7,6.0,5.1,0.21,3.8,6.0,5.1,0.22,236.0,...,0,0.0499,0.24,1,0,0,600,98,99,418
1,2016-01-01T00:10:00+00:00,4.1,6.0,5.1,0.09,4.1,6.0,5.2,0.10,236.0,...,0,0.0499,0.24,1,0,0,600,99,101,418
2,2016-01-01T00:20:00+00:00,4.5,6.7,5.7,0.26,4.4,6.8,5.8,0.30,236.0,...,0,0.0499,0.24,1,0,0,600,111,113,418
3,2016-01-01T00:30:00+00:00,5.1,7.0,6.3,0.11,5.1,7.1,6.4,0.12,236.0,...,0,0.0499,0.24,1,0,0,600,122,125,418
4,2016-01-01T00:40:00+00:00,4.7,7.3,6.2,0.27,4.9,7.4,6.3,0.27,236.0,...,0,0.0499,0.24,1,0,0,600,121,123,417

In [27]:
metmast_training_df = ft.transform_time(metmast_training_df)
metmast_training_df.head()

,Timestamp,Min_Windspeed1,Max_Windspeed1,Avg_Windspeed1,Var_Windspeed1,Min_Windspeed2,Max_Windspeed2,Avg_Windspeed2,Var_Windspeed2,Min_Winddirection2,...,Anemometer1_CorrOffset,Anemometer2_Freq,Anemometer2_Offset,Anemometer2_CorrGain,Anemometer2_CorrOffset,DistanceAirPress,AirRessureSensorZeroOffset,Anemometer1_Avg_Freq,Anemometer2_Avg_Freq,Pressure_Avg_Freq
0,2016-01-01 00:00:00,3.7,6.0,5.1,0.21,3.8,6.0,5.1,0.22,236.0,...,0,0.0499,0.24,1,0,0,600,98,99,418
1,2016-01-01 00:10:00,4.1,6.0,5.1,0.09,4.1,6.0,5.2,0.10,236.0,...,0,0.0499,0.24,1,0,0,600,99,101,418
2,2016-01-01 00:20:00,4.5,6.7,5.7,0.26,4.4,6.8,5.8,0.30,236.0,...,0,0.0499,0.24,1,0,0,600,111,113,418
3,2016-01-01 00:30:00,5.1,7.0,6.3,0.11,5.1,7.1,6.4,0.12,236.0,...,0,0.0499,0.24,1,0,0,600,122,125,418
4,2016-01-01 00:40:00,4.7,7.3,6.2,0.27,4.9,7.4,6.3,0.27,236.0,...,0,0.0499,0.24,1,0,0,600,121,123,417

In [28]:
df_list[6] = logs_training_df

### Signals-testing dataframe

In [43]:
signals_testing_df = WM_data_dict['signals_testing_df'].copy()
signals_testing_df.head()

,Turbine_ID,Timestamp,Gen_RPM_Max,Gen_RPM_Min,Gen_RPM_Avg,Gen_RPM_Std,Gen_Bear_Temp_Avg,Gen_Phase1_Temp_Avg,Gen_Phase2_Temp_Avg,Gen_Phase3_Temp_Avg,...,Grd_Prod_PsbleInd_Avg,Grd_Prod_PsbleInd_Max,Grd_Prod_PsbleInd_Min,Grd_Prod_PsbleInd_Std,Grd_Prod_PsbleCap_Avg,Grd_Prod_PsbleCap_Max,Grd_Prod_PsbleCap_Min,Grd_Prod_PsbleCap_Std,Gen_Bear2_Temp_Avg,Nac_Direction_Avg
0,T09,2017-09-01T00:10:00+00:00,1383.0,1229.1,1261.6,27.5,44.0,64,63,64,...,-912.8,-669.4,-1000.0,99.8,912.8,1000.0,669.4,99.8,40,105.0
1,T07,2017-09-01T00:10:00+00:00,1480.4,1214.6,1261.9,37.4,48.0,67,67,66,...,-942.3,-558.7,-1000.0,100.7,942.3,1000.0,558.7,100.7,43,94.3
2,T01,2017-09-01T00:10:00+00:00,1489.5,1228.0,1309.3,68.7,45.0,65,65,65,...,-930.9,-533.6,-1000.0,115.9,930.9,1000.0,533.6,115.9,45,109.5
3,T11,2017-09-01T00:10:00+00:00,1318.3,1241.5,1254.7,11.0,46.0,61,62,62,...,-991.9,-751.0,-1000.0,36.3,991.9,1000.0,751.0,36.3,44,103.1
4,T06,2017-09-01T00:10:00+00:00,1392.0,1229.5,1262.9,25.7,49.0,63,65,65,...,-997.8,-899.8,-1000.0,12.5,997.8,1000.0,899.8,12.5,45,89.6

In [30]:
signals_testing_df = ft.transform_time(signals_testing_df)
signals_testing_df.head()

,Turbine_ID,Timestamp,Gen_RPM_Max,Gen_RPM_Min,Gen_RPM_Avg,Gen_RPM_Std,Gen_Bear_Temp_Avg,Gen_Phase1_Temp_Avg,Gen_Phase2_Temp_Avg,Gen_Phase3_Temp_Avg,...,Grd_Prod_PsbleInd_Avg,Grd_Prod_PsbleInd_Max,Grd_Prod_PsbleInd_Min,Grd_Prod_PsbleInd_Std,Grd_Prod_PsbleCap_Avg,Grd_Prod_PsbleCap_Max,Grd_Prod_PsbleCap_Min,Grd_Prod_PsbleCap_Std,Gen_Bear2_Temp_Avg,Nac_Direction_Avg
0,T09,2017-09-01 00:10:00,1383.0,1229.1,1261.6,27.5,44.0,64,63,64,...,-912.8,-669.4,-1000.0,99.8,912.8,1000.0,669.4,99.8,40,105.0
1,T07,2017-09-01 00:10:00,1480.4,1214.6,1261.9,37.4,48.0,67,67,66,...,-942.3,-558.7,-1000.0,100.7,942.3,1000.0,558.7,100.7,43,94.3
2,T01,2017-09-01 00:10:00,1489.5,1228.0,1309.3,68.7,45.0,65,65,65,...,-930.9,-533.6,-1000.0,115.9,930.9,1000.0,533.6,115.9,45,109.5
3,T11,2017-09-01 00:10:00,1318.3,1241.5,1254.7,11.0,46.0,61,62,62,...,-991.9,-751.0,-1000.0,36.3,991.9,1000.0,751.0,36.3,44,103.1
4,T06,2017-09-01 00:10:00,1392.0,1229.5,1262.9,25.7,49.0,63,65,65,...,-997.8,-899.8,-1000.0,12.5,997.8,1000.0,899.8,12.5,45,89.6

In [31]:
df_list[7] = signals_testing_df

### Signals-training dataframe

In [80]:
signals_training_df = WM_data_dict['signals_training_df'].copy()
signals_training_df.head()

,Turbine_ID,Timestamp,Gen_RPM_Max,Gen_RPM_Min,Gen_RPM_Avg,Gen_RPM_Std,Gen_Bear_Temp_Avg,Gen_Phase1_Temp_Avg,Gen_Phase2_Temp_Avg,Gen_Phase3_Temp_Avg,...,Grd_Prod_PsbleInd_Avg,Grd_Prod_PsbleInd_Max,Grd_Prod_PsbleInd_Min,Grd_Prod_PsbleInd_Std,Grd_Prod_PsbleCap_Avg,Grd_Prod_PsbleCap_Max,Grd_Prod_PsbleCap_Min,Grd_Prod_PsbleCap_Std,Gen_Bear2_Temp_Avg,Nac_Direction_Avg
0,T11,2016-01-01T00:00:00+00:00,1339.4,1233.3,1270.9,18.8,42.0,59,61,60,...,-973.4,-752.6,-1000.0,56.5,973.4,1000.0,752.6,56.5,38,206.9
1,T06,2016-01-01T00:00:00+00:00,1270.0,1232.8,1248.5,6.8,42.0,51,52,53,...,-307.1,0.0,-880.6,180.0,307.1,880.6,0.0,180.0,35,204.6
2,T01,2016-01-01T00:00:00+00:00,1277.4,1226.1,1249.0,9.0,41.0,58,59,58,...,-144.4,0.0,-584.5,157.1,144.4,584.5,0.0,157.1,37,218.5
3,T09,2016-01-01T00:00:00+00:00,1376.7,1234.3,1272.0,24.7,40.0,58,57,58,...,-861.6,-224.5,-1000.0,185.5,861.6,1000.0,224.5,185.5,33,214.0
4,T07,2016-01-01T00:00:00+00:00,1317.5,1229.5,1254.9,13.8,41.0,62,62,61,...,-536.5,0.0,-1000.0,338.9,536.5,1000.0,0.0,338.9,39,197.3

In [62]:
signals_training_df.Timestamp = pd.to_datetime(signals_training_df.Timestamp)

In [ ]:
df_list[8] = signals_training_df

## Time description

### Criar uma coluna de variação de tempo entre timestamps

In [ ]:
for i, df in enumerate(df_list[-6:]):
    ft.time_delta(df, 'Timestamp')
    print(f'Inserir o Time Delta no dataframe {df_names[-6+i]}')

### Perceber a variação entre os vários Timestamps

In [ ]:
plt.figure(figsize=(16,9))
for i, df in enumerate(df_list[-6:]):
    plt.subplot(2,3,i+1)
    plt.title(df_names[-6+i])
    plt.plot(df.Timestamp, df.delta)

In [ ]:
signals_training_df.delta.value_counts()

In [ ]:
metmast_training_df.head()

## Novo dataframe com Timestamp completo

In [94]:
all_time_df = ft.time_df()
all_time_df.head()

            Timestamp
0 2016-01-01 00:00:00
1 2016-01-01 00:10:00
2 2016-01-01 00:20:00
3 2016-01-01 00:30:00
4 2016-01-01 00:40:00

In [95]:
turbine_list = [i for i in signals_training_df.Turbine_ID.unique()]
turbine_list

['T11', 'T06', 'T01', 'T09', 'T07']

In [96]:
all_time_df = ft.complete_time_df(all_time_df, turbine_list)
all_time_df.head()

            Timestamp Turbine_ID
0 2016-01-01 00:00:00        T11
1 2016-01-01 00:10:00        T11
2 2016-01-01 00:20:00        T11
3 2016-01-01 00:30:00        T11
4 2016-01-01 00:40:00        T11

## Fazer merge do Dataframe de tempo completo com os restantes dataframes

### Signals-testing complete dataframe

In [97]:
all_time_df.dtypes

Timestamp     datetime64[ns]
Turbine_ID            object
dtype: object

In [98]:
date_until = datetime.datetime(2016,12,31,23,50,0)
date_until

datetime.datetime(2016, 12, 31, 23, 50)

In [99]:
sig_train_merge_df = ft.merge_df(all_time_df, signals_training_df, date_until=date_until)
sig_train_merge_df

,Timestamp,Turbine_ID,Gen_RPM_Max,Gen_RPM_Min,Gen_RPM_Avg,Gen_RPM_Std,Gen_Bear_Temp_Avg,Gen_Phase1_Temp_Avg,Gen_Phase2_Temp_Avg,Gen_Phase3_Temp_Avg,...,Grd_Prod_PsbleInd_Avg,Grd_Prod_PsbleInd_Max,Grd_Prod_PsbleInd_Min,Grd_Prod_PsbleInd_Std,Grd_Prod_PsbleCap_Avg,Grd_Prod_PsbleCap_Max,Grd_Prod_PsbleCap_Min,Grd_Prod_PsbleCap_Std,Gen_Bear2_Temp_Avg,Nac_Direction_Avg
0,2016-01-01 00:00:00,T11,1339.4,1233.3,1270.9,18.8,42.0,59.0,61.0,60.0,...,-973.4,-752.6,-1000.0,56.5,973.4,1000.0,752.6,56.5,38.0,206.9
1,2016-01-01 00:10:00,T11,1400.5,1239.8,1303.6,40.2,43.0,59.0,61.0,60.0,...,-999.3,-931.3,-1000.0,5.8,999.3,1000.0,931.3,5.8,38.0,206.9
2,2016-01-01 00:20:00,T11,1423.6,1270.8,1344.3,27.2,43.0,60.0,61.0,61.0,...,-1000.0,-986.9,-1000.0,0.2,1000.0,1000.0,986.9,0.2,38.0,206.9
3,2016-01-01 00:30:00,T11,1470.1,1258.7,1377.5,48.9,43.0,60.0,62.0,61.0,...,-1000.0,-1000.0,-1000.0,0.0,1000.0,1000.0,1000.0,0.0,38.0,206.9
4,2016-01-01 00:40:00,T11,1539.1,1252.1,1396.2,66.8,43.0,61.0,62.0,61.0,...,-999.9,-945.9,-1000.0,1.7,999.9,1000.0,945.9,1.7,39.0,206.9
5,2016-01-01 00:50:00,T11,1492.1,1258.0,1363.7,51.5,44.0,61.0,62.0,61.0,...,-996.3,-564.8,-1000.0,29.5,996.3,1000.0,564.8,29.5,39.0,206.9
6,2016-01-01 01:00:00,T11,1401.2,1238.4,1280.6,27.9,44.0,61.0,62.0,61.0,...,-932.2,-502.3,-1000.0,135.0,932.2,1000.0,502.3,135.0,39.0,206.9
7,2016-01-01 01:10:00,T11,1293.3,1235.6,1257.1,10.9,44.0,61.0,62.0,61.0,...,-939.3,-413.6,-1000.0,122.8,939.3,1000.0,413.6,122.8,39.0,206.9
8,2016-01-01 01:20:00,T11,1311.8,1231.4,1268.8,16.7,43.0,60.0,62.0,61.0,...,-900.1,-389.9,-1000.0,168.6,900.1,1000.0,389.9,168.6,39.0,206.9
9,2016-01-01 01:30:00,T11,1277.1,1232.0,1255.4,8.0,43.0,60.0,62.0,61.0,...,-828.6,-473.7,-1000.0,141.7,828.6,1000.0,473.7,141.7,39.0,215.7
10,2016-01-01 01:40:00,T11,1276.5,1236.4,1256.0,7.8,43.0,60.0,62.0,61.0,...,-732.5,-291.5,-1000.0,158.6,732.5,1000.0,291.5,158.6,38.0,208.6
11,2016-01-01 01:50:00,T11,1267.7,1230.2,1248.9,6.4,43.0,60.0,62.0,61.0,...,-260.1,0.0,-767.3,182.5,260.1,767.3,0.0,182.5,38.0,199.9
12,2016-01-01 02:00:00,T11,1268.4,1211.8,1248.4,7.2,43.0,60.0,61.0,61.0,...,-198.3,0.0,-589.2,163.1,198.3,589.2,0.0,163.1,38.0,206.6
13,2016-01-01 02:10:00,T11,1250.5,0.0,364.0,446.4,43.0,59.0,60.0,60.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38.0,206.2
14,2016-01-01 02:20:00,T11,255.4,131.9,204.4,28.2,43.0,56.0,57.0,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,37.0,185.9
15,2016-01-01 02:30:00,T11,197.8,84.2,134.0,39.7,42.0,53.0,54.0,54.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36.0,191.8
16,2016-01-01 02:40:00,T11,260.0,154.2,203.0,27.6,41.0,50.0,51.0,51.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35.0,191.9
17,2016-01-01 02:50:00,T11,1390.1,259.5,935.2,446.0,40.0,48.0,49.0,49.0,...,-171.3,0.0,-978.0,168.6,171.3,978.0,0.0,168.6,35.0,216.3
18,2016-01-01 03:00:00,T11,1266.5,220.5,845.7,489.9,39.0,49.0,49.0,49.0,...,-37.0,0.0,-442.4,90.5,37.0,442.4,0.0,90.5,35.0,194.6
19,2016-01-01 03:10:00,T11,318.4,204.6,241.5,20.6,38.0,47.0,48.0,48.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,190.4
20,2016-01-01 03:20:00,T11,298.2,212.8,250.7,20.1,37.0,45.0,46.0,46.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,194.0
21,2016-01-01 03:30:00,T11,1379.5,214.1,480.1,396.7,36.0,43.0,44.0,44.0,...,-48.6,0.0,-896.2,131.7,48.6,896.2,0.0,131.7,33.0,202.7
22,2016-01-01 03:40:00,T11,1273.5,1230.3,1249.9,7.1,36.0,43.0,44.0,44.0,...,-330.5,0.0,-644.5,169.0,330.5,644.5,0.0,169.0,33.0,205.2
23,2016-01-01 03:50:00,T11,1290.9,1210.4,1251.3,12.6,35.0,46.0,47.0,46.0,...,-425.1,0.0,-1000.0,196.6,425.1,1000.0,0.0,196.6,33.0,198.1
24,2016-01-01 04:00:00,T11,1281.0,1228.2,1250.0,9.4,36.0,47.0,48.0,48.0,...,-281.0,0.0,-751.0,149.6,281.0,751.0,0.0,149.6,33.0,191.1
25,2016-01-01 04:10:00,T11,1285.6,1216.1,1250.7,11.0,36.0,48.0,49.0,49.0,...,-461.9,-40.0,-917.9,204.3,461.9,917.9,40.0,204.3,34.0,191.1
26,2016-01-01 04:20:00,T11,1270.8,1221.5,1249.2,9.5,37.0,50.0,51.0,50.0,...,-238.1,0.0,-592.0,139.2,238.1,592.0,0.0,139.2,34.0,189.7
27,2016-01-01 04:30:00,T11,1275.1,1220.0,1248.7,10.3,37.0,50.0,51.0,51.0,...,-57.5,0.0,-538.9,81.9,57.5,538.9,0.0,81.9,34.0,189.7
28,2016-01-01 04:40:00,T11,1263.2,1232.1,1249.1,5.7,37.0,51.0,52.0,51.0,...,-108.0,0.0,-282.3,77.8,108.0,282.3,0.0,77.8,34.0,184.8
29,2016-01-01 04:50:00,T11,1271.0,1224.5,1250.4,9.2,38.0,52.0,53.0,53.0,...,-367.0,-9.6,-664.6,146.9,367.0,664.6,9.6,146.9,35.0,177.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473187,2016-12-31 18:50:00,T07,1674.3,1560.0,1624.8,24.8,52.0,90.0,89.0,88.0,...,-1000.0,-1000.0,-1000.0,0.0,1000.0,1000.0,960.7,1.1,50.0,88.6
473188,2016-12-31 19:00:00,T07,1669.2,1373.5,1584.4,66.8,52.0,87.0,87.0,85.0,...,-1000.0,-1000.0,-1000.0,0.0,999.1,1000.0,891.6,7.2,50.0,88.6
473189,2016-12-31 19:10:00,T07,1652.2,1366.1,1532.9,76.7,51.0,84.0,84.0,82.0,...,-1000.0,-1000.0,-1000.0,0.0,1000.0,1000.0,1000.0,0.0,49.0,88.7
473190,2016-12-31 19:20:00,T07,1665.3,1443.3,1611.7,39.4,50.0,82.0,82.0,80.0,...,-1000.0,-1000.0,-1000.0,0.0,1000.0,1000.0,1000.0,0.0,48.0,96.7
473191,2016-12-31 19:30:00,T07,1672.6,1414.7,1615.8,47.8,49.0,81.0,81.0,79.0,...,-1000.0,-1000.0,-1000.0,0.0,1000.0,1000.0,1000.0,0.0,47.0,90.0
473192,2016-12-31 19:40:00,T07,1674.4,1565.2,1639.6,22.0,48.0,80.0,80.0,79.0,...,-1000.0,-1000.0,-1000.0,0.0,1000.0,1000.0,1000.0,0.0,47.0,90.0
473193,2016-12-31 19:50:00,T07,1687.1,1557.1,1640.8,21.2,48.0,80.0,80.0,78.0,...,-1000.0,-1000.0,-1000.0,0.0,1000.0,1000.0,1000.0,0.0,46.0,90.0
473194,2016-12-31 20:00:00,T07,1668.1,1510.4,1621.6,27.5,47.0,79.0,79.0,77.0,...,-1000.0,-1000.0,-1000.0,0.0,1000.0,1000.0,1000.0,0.0,46.0,90.0
473195,2016-12-31 20:10:00,T07,1650.6,1451.6,1578.0,42.1,47.0,77.0,77.0,75.0,...,-1000.0,-1000.0,-1000.0,0.0,1000.0,1000.0,1000.0,0.0,45.0,90.0
473196,2016-12-31 20:20:00,T07,1631.1,1394.3,1544.3,53.9,46.0,75.0,75.0,74.0,...,-1000.0,-1000.0,-1000.0,0.0,1000.0,1000.0,1000.0,0.0,45.0,90.0
473197,2016-12-31 20:30:00,T07,1509.3,1297.5,1406.0,45.2,46.0,72.0,72.0,72.0,...,-1000.0,-1000.0,-1000.0,0.0,1000.0,1000.0,1000.0,0.0,44.0,90.0
473198,2016-12-31 20:40:00,T07,1453.1,1271.8,1365.4,47.3,45.0,70.0,70.0,70.0,...,-1000.0,-1000.0,-1000.0,0.0,1000.0,1000.0,1000.0,0.0,43.0,90.0
473199,2016-12-31 20:50:00,T07,1437.7,1250.3,1338.5,43.3,44.0,68.0,68.0,68.0,...,-1000.0,-1000.0,-1000.0,0.0,1000.0,1000.0,1000.0,0.0,42.0,90.0
473200,2016-12-31 21:00:00,T07,1429.6,1262.4,1343.4,38.4,43.0,66.0,67.0,66.0,...,-1000.0,-1000.0,-1000.0,0.0,1000.0,1000.0,1000.0,0.0,42.0,90.0
473201,2016-12-31 21:10:00,T07,1412.7,1261.3,1321.3,28.2,42.0,65.0,65.0,65.0,...,-1000.0,-1000.0,-1000.0,0.0,1000.0,1000.0,1000.0,0.0,41.0,90.0
473202,2016-12-31 21:20:00,T07,1439.3,1313.3,1364.2,21.3,41.0,64.0,64.0,64.0,...,-1000.0,-1000.0,-1000.0,0.0,1000.0,1000.0,1000.0,0.0,40.0,90.0
473203,2016-12-31 21:30:00,T07,1416.9,1277.9,1347.5,32.5,41.0,63.0,63.0,63.0,...,-1000.0,-1000.0,-1000.0,0.0,1000.0,1000.0,1000.0,0.0,40.0,90.0
473204,2016-12-31 21:40:00,T07,1448.1,1292.4,1337.2,35.4,40.0,62.0,62.0,62.0,...,-1000.0,-1000.0,-1000.0,0.0,1000.0,1000.0,1000.0,0.0,39.0,90.0
473205,2016-12-31 21:50:00,T07,1475.9,1260.3,1358.1,54.6,39.0,61.0,61.0,61.0,...,-1000.0,-1000.0,-1000.0,0.0,1000.0,1000.0,1000.0,0.0,39.0,90.0
473206,2016-12-31 22:00:00,T07,1478.1,1275.2,1372.3,36.2,39.0,61.0,61.0,61.0,...,-1000.0,-1000.0,-1000.0,0.0,1000.0,1000.0,1000.0,0.0,38.0,90.0
473207,2016-12-31 22:10:00,T07,1477.0,1268.5,1366.4,50.7,38.0,61.0,61.0,60.0,...,-999.9,-933.8,-1000.0,2.4,999.9,1000.0,933.8,2.4,38.0,90.0
473208,2016-12-31 22:20:00,T07,1435.7,1251.1,1321.0,39.0,38.0,60.0,60.0,60.0,...,-999.9,-964.4,-1000.0,1.5,999.9,1000.0,964.4,1.5,38.0,90.0
473209,2016-12-31 22:30:00,T07,1359.3,1256.1,1303.6,23.8,38.0,60.0,60.0,59.0,...,-998.9,-763.6,-1000.0,13.5,998.9,1000.0,763.6,13.5,38.0,90.0
473210,2016-12-31 22:40:00,T07,1325.9,1228.2,1282.8,17.4,37.0,59.0,60.0,59.0,...,-1000.0,-980.7,-1000.0,0.7,1000.0,1000.0,980.7,0.7,37.0,90.1
473211,2016-12-31 22:50:00,T07,1329.8,1248.5,1277.4,16.5,37.0,59.0,59.0,59.0,...,-977.6,-745.2,-1000.0,45.9,977.6,1000.0,745.2,45.9,37.0,96.7
473212,2016-12-31 23:00:00,T07,1380.2,1241.3,1278.4,22.5,37.0,59.0,59.0,58.0,...,-996.4,-874.4,-1000.0,16.0,996.4,1000.0,874.4,16.0,37.0,90.4
473213,2016-12-31 23:10:00,T07,1364.8,1241.8,1282.8,25.8,37.0,58.0,58.0,58.0,...,-1000.0,-1000.0,-1000.0,0.0,1000.0,1000.0,1000.0,0.0,37.0,90.4
473214,2016-12-31 23:20:00,T07,1406.5,1251.5,1299.6,28.8,37.0,58.0,58.0,58.0,...,-999.7,-937.4,-1000.0,2.9,999.7,1000.0,937.4,2.9,37.0,90.4
473215,2016-12-31 23:30:00,T07,1374.2,1255.3,1298.6,24.6,37.0,58.0,58.0,58.0,...,-999.4,-864.7,-1000.0,7.2,999.4,1000.0,864.7,7.2,37.0,90.8
473216,2016-12-31 23:40:00,T07,1388.3,1254.1,1295.7,27.4,36.0,58.0,58.0,58.0,...,-1000.0,-1000.0,-1000.0,0.0,1000.0,1000.0,1000.0,0.0,37.0,90.8

In [103]:
sig_train_merge_df.isna().sum()

Timestamp                         0
Turbine_ID                        0
Gen_RPM_Max                    3272
Gen_RPM_Min                    3272
Gen_RPM_Avg                    3272
Gen_RPM_Std                    3272
Gen_Bear_Temp_Avg              3272
Gen_Phase1_Temp_Avg            3272
Gen_Phase2_Temp_Avg            3272
Gen_Phase3_Temp_Avg            3272
Hyd_Oil_Temp_Avg               3272
Gear_Oil_Temp_Avg              3272
Gear_Bear_Temp_Avg             3272
Nac_Temp_Avg                   3272
Rtr_RPM_Max                    3272
Rtr_RPM_Min                    3272
Rtr_RPM_Avg                    3272
Amb_WindSpeed_Max              3272
Amb_WindSpeed_Min              3272
Amb_WindSpeed_Avg              3272
Amb_WindSpeed_Std              3272
Amb_WindDir_Relative_Avg       3272
Amb_WindDir_Abs_Avg            3272
Amb_Temp_Avg                   3272
Prod_LatestAvg_ActPwrGen0      3272
Prod_LatestAvg_ActPwrGen1      3272
Prod_LatestAvg_ActPwrGen2      3272
Prod_LatestAvg_TotActPwr       3272
Prod_LatestAvg_ReactPwrGen0    3272
Prod_LatestAvg_ReactPwrGen1    3272
                               ...
Grd_Prod_VoltPhse1_Avg         3272
Grd_Prod_VoltPhse2_Avg         3272
Grd_Prod_VoltPhse3_Avg         3272
Grd_Prod_CurPhse1_Avg          3272
Grd_Prod_CurPhse2_Avg          3272
Grd_Prod_CurPhse3_Avg          3272
Grd_Prod_Pwr_Max               3272
Grd_Prod_Pwr_Min               3272
Grd_Busbar_Temp_Avg            3272
Rtr_RPM_Std                    3272
Amb_WindSpeed_Est_Avg          3272
Grd_Prod_Pwr_Std               3272
Grd_Prod_ReactPwr_Avg          3272
Grd_Prod_ReactPwr_Max          3272
Grd_Prod_ReactPwr_Min          3272
Grd_Prod_ReactPwr_Std          3272
Grd_Prod_PsblePwr_Avg          3272
Grd_Prod_PsblePwr_Max          3272
Grd_Prod_PsblePwr_Min          3272
Grd_Prod_PsblePwr_Std          3272
Grd_Prod_PsbleInd_Avg          3272
Grd_Prod_PsbleInd_Max          3272
Grd_Prod_PsbleInd_Min          3272
Grd_Prod_PsbleInd_Std          3272
Grd_Prod_PsbleCap_Avg          3272
Grd_Prod_PsbleCap_Max          3272
Grd_Prod_PsbleCap_Min          3272
Grd_Prod_PsbleCap_Std          3272
Gen_Bear2_Temp_Avg             3272
Nac_Direction_Avg              3272
Length: 83, dtype: int64

In [ ]:
# Lista de nomes do dataframe
lista_campos = [i for i in signals_testing_df.keys()]
lista_campos

In [ ]:
# Determinação das datas usadas nos ficheiros
min_date = signals_testing_df.Timestamp.min()
max_date = signals_testing_df.Timestamp.max()
min_date, max_date

In [ ]:
# Recriação do periodo de tempo do ficheiro
signals_test_comp_df = signals_test_comp_df.loc[signals_test_comp_df['Timestamp'] >= min_date, lista_campos]

In [ ]:
signals_test_comp_df.shape

In [ ]:
signals_test_comp_df.isna().sum()

In [ ]:
time_turb_df.shape

In [ ]:
new_df = pd.merge(time_turb_df, signals_training_df, how='left', on=['Timestamp', 'Turbine_ID'] )

In [ ]:
new_df.shape

In [ ]:
lllll = new_df.keys()

In [ ]:
new_df.loc[new_df['Timestamp'] > '2017-09-01 00:00:00', lllll]

In [ ]:
(30+31+30+31)*5*24*6

In [ ]:
new_df.isna().sum()

In [ ]:
exp1 = ft.complete_time_df(turbine_list=turbine_list)

In [ ]:
ft.merge_df(exp1, signals_testing_df, date_after=min_date)

In [ ]:
ft.complete_time_df(['T01'])